
html {
  background-color: #03191E;
}
header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #b50723;
  height: 100%;
  width: 100%;
}
img {
  position: relative;
  top: 40%; left: 50%;
  transform: translate(-50%, -50%) scale(0.4);
}
img.a {
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
}
t {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%,0);
  color: white;
  font-size: 83px;
  font-family: "Verdana";
}
loginform {

  position: fixed;
  background-color: #ffffffeb;
  border-radius: 5px;
  width: 400px;
  height: 225px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.control0, .control1 {
  position: relative;
  margin-top: 25px;
  width: 80%;
  left: 50%;
  transform: translate(-50%,0);
}
a {

  top: 30px;
  left: 50%;
  transform: translate(-50%,0);
}
